body {
    background-image: url('images/backgrounds/rain_background.jpg');
}
.App {
    width: 100%;
}
.weatherCardContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1%;
    width: 71.5%;
}

.todayContainer {
    background-color: grey;
    width: 71.5%;
    margin: auto;
    padding: 2%, 0%, 2%, 0%;
    margin-top: 1%;
    text-align: center;
}

.searchBar {
    margin-top: 5%;
    text-align: center;
}

.searchInput {
    width: 64%;
}