.bg {
    background-image: url(./images/backgrounds/stars.jpg);
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 90%;
}

body * {
    color: white;
}

.today-date, .feels-like {
    font-size: .75rem;
    color: lightgray;
}

.current-temp-wrapper h3 { font-size: 4rem; }